<div>
  <label>Title</label>
  <input type="text" name="title" value="<%= book.title %>" >
</div>

<div>
  <label>Author</label>
  <select name="author">
    <% authors.forEach(author => { %> 
      <% if (author.id === book.author) { %>
        <option selected label="<%= author.name %>" value="<%= author.id %>">
      <% } else { %>
        <option label="<%= author.name %>" value="<%= author.id %>">
      <% } %> 
    <% }) %>
  </select>
</div>

<div>
  <label>Publish Date</label>
  <!-- Date input for publishDate; if available, 
    formats it as YYYY-MM-DD for the input value;
    for e.g. if you have publishDate of '2019-09-19T12:23'
    then publishDate.toISOString().split('T')[0] will split it by 'T'
    and take the first index element which is '2019-09-19' -->
  <input type="date" name="publishDate" 
          value="<%= book.publishDate == null ? '' :
          book.publishDate.toISOString().split('T')[0] %>">
</div>

<div>
  <label>Page Count</label>
  <input type="number" name="pageCount" min="1" value="<%= book.pageCount %>">
</div>

<div> <!-- name = "cover" instead of name = "coverImageName" because
      here we are just focusing on the cover as a file and not the cover's name-->
  <label>Cover</label>
  <input type="file" name="cover">
</div>


<div>
  <label>Description</label>
  <textarea name="description"><%= book.description %></textarea>
</div>